
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-thumb {
    background-color: #9ea39e;
    border-radius: 2px;
}
.chatbox {
    width: 300px;
    height: 400px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    border-top: 2px solid #fff;
    z-index: 5;
}
.chat-window {
    flex: auto;
    max-height: calc(100% - 60px);
    background: #ffffff;
    overflow: auto;
    position: relative;
}
.chat-input {
    flex: 0 0 auto;
    height: 60px;
    background: #f6f6f6;
    border-top: 1px solid #adadad;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
.chat-input input {
    height: 59px;
    line-height: 60px;
    outline: 0 none;
    border: none;
    width: calc(100% - 60px);
    color: #5b5959;
    text-indent: 10px;
    font-size: 12pt;
    padding: 0;
    background: #f6f6f6;
}
.chat-input button {
    float: right;
    outline: 0 none;
    border: none;
    background: rgba(255,255,255,.25);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 2px 0 0 0;
    margin: 10px;
    transition: all 0.15s ease-in-out;
}
.chat-input input[good] + button {
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    background: #e75348;
}
.chat-input input[good] + button:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.chat-input input[good] + button path {
    fill: white;
}
.msg-container {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 0 5px 0;
    padding: 0;
}
.msg-box {
    display: flex;
    background: #e75348;
    /* padding: 10px 10px 0 10px; */
    padding: 5px 5px 0px;
    border-radius: 0 6px 6px 0;
    max-width: 80%;
    width: auto;
    float: left;
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
.user-img {
    display: inline-block;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    background: #2671ff;
    margin: 0 10px 10px 0;
}
.user-img.f{
    height: 60px;
    width: 60px;
}
.flr {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
}
.messages {
    flex: 1 0 auto;
}
.msg {
    display: inline-block;
    font-size: 11pt;
    line-height: 13pt;
    color: rgba(255,255,255,.7);
    margin: 0 0 4px 0;
    word-wrap: break-word !important;
    width: 100%;
}
.msg-self p {
    color: #000000c7;
}
.msg:first-of-type {
    /* margin-top: 8px; */
}
.timestamp {
    color: rgba(0,0,0,.38);
    font-size: 8pt;
    margin-bottom: 4px;
}
.username {
    margin-right: 3px;
}
.posttime {
    margin-left: 3px;
}
.msg-self .msg-box {
    border-radius: 6px 0 0 6px;
    background: #f2f2f2;
    float: right;
}
.msg-self .user-img {
    margin: 0 0 10px 10px;
}
.msg-self .msg {
    text-align: right;
}
.msg-self .timestamp {
    text-align: right;
}
#cont{
    position: fixed;
    bottom: 10px;
    right: 20px;
}
#myApp{
    position: fixed;
    bottom: 57px;
    right: 64px;
}
.toggle{
    display: none;
}
#bttn img{
    width: 60%;
    height: 65%
}
#con
{
    right: 0px;
    position: absolute;
    bottom: 65px;
    color: white;
    border-radius: 6px 0 0 6px;
    background: #e75348;
    padding: 4px;
    display: none;
    margin-right: 0px;
}
#options{
    text-align: center;
}
.option{
    background: transparent;
    border: 1px solid brown;
    padding: 8px;
    border-radius: 10px;
    color: brown;
    margin: 7px;
}

