body {
    background-color: #031c32;
}
.logContainer {
    width: 800px;
    min-height: 400px;
    background: #fff;
    border-radius: 5px;
    margin: auto;
    margin-top: 80px;
}
.logContainer>div{
    border: 1px solid #c0c0c038;
    padding: 40px;
}
.logoo{
    text-align: center;
    margin-top: 30px;
}
.logoo span {
    font-size: 76px;
    font-family: fantasy;
    color: #91d53d;
}
.left img{
    width: 122px;
    margin: auto;
}
.right .btns{
    margin-bottom: 40px;
}
.txt-border{
    border-bottom: 3px solid #031c32;
    padding-bottom: 7px;
}
.logContainer>div form {
    margin-top: 40px;
}
.col-md-6 {
    width: 50%;
    box-sizing: border-box;
    float: left;
}
.logContainer{
  width: 975px;
    margin-top: 80px;
    display: flex;
    font-family: -webkit-pictograph;
}

.btns-div{text-align: right;}
.btn {
    border: 0;
    padding: 7px 15px;
    background: #fff;
    /* margin: 0; */
}
.btn-danger {
    background: #da3333;
    color: #fff;
}
.btn-success {
    background: #34b934;
    color: #fff;
    font-size: 20px;
    margin-top: 25px;
}
input {
    padding: 6px;
    margin: 3px 0px;
}
td span {
    font-size: 12px;
    display: block;
}
select#track {
    padding: 5px;
    width: 100%;
}
.btn:focus{outline: 0;}