.cover{
    height: 340px;
    overflow: hidden;
    position: relative;
}
.cover img{
    width: 100%;
}
.cover .btn{
    position: absolute;
    right: 50px;
    top: 20px;
}
/* side div */
.side-div img {
    width: 220px;
    border-radius: 50%;
    border: 2px solid #fff;
}
.img-cont{top: -110px;margin-bottom: -89px;}
.side-div {
    width: 23%;
    background: #fff;
    float: left;
    /* display: inline-block; */
}
.side-div .f a {
    font-size: 12px;
    color: cornflowerblue;
    /* margin: 20px 0; */
}
.side-div .f a {
    font-size: 12px;
    color: cornflowerblue;
    /* margin: 20px 0; */
}
.f.sm{text-align: left;padding-left: 10px;}
.main-div {
    display: inline-block;
    width: 70%;
    
}
/* tabs */
#tabs ul {
    list-style: none;
    margin-top: 6px;
    margin-left: -40px;
}
#tabs ul li {
    float: left;
    margin: 10px;
}
#tabs a {
    text-decoration: none;
    color: #0000007a;
    font-size: 17px;
}
#tabs a:focus{
    outline: none !important;
}
#tabs a i {
    display: block;
}
#tabs a i.fa{
    font-size: 32px;
}
#tabs .ui-tabs-active a{color: #46ca46;}
/* end tabs */
/* modal */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 65%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* checkbox */
/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
    width: 32%;
    height: 120px;
}

/* CHECKED STYLES */
    [type=radio]:checked + img {
    outline: 2px solid coral;
}
/* end modal */